* {
    margin: 0; /* Define a área de margem nos quatro lados do elemento */
    padding: 0; /* Define uma distância entre o conteúdo de um elemento e as suas bordas */
}

header {

}

body {

}

footer {
    
}